@mport url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgb(54, 0, 179);
}

.container{
    position: relative;
    background:#fff;
    max-width: 300px;
    border-radius: 12px;
    width: 100%;
    padding: 15px 25px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

